vti_encoding:SR|utf8-nl
vti_author:SR|yazdan-PC\\yazdan
vti_modifiedby:SR|yazdan\\kevin
vti_timelastmodified:TR|23 Aug 2014 09:14:02 -0000
vti_timecreated:TR|20 May 2014 06:02:55 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|Human.html GSM-Model.html contact.html GSMM-Recons.html Yeast.html CB-Sof.html KM-Sof.html KM-Def.html Objective.html CB-Def.html Hyb-Def.html Hyb-Int.html index.html Topological-Def.html Topological-Sof.html bottom-frame.html
vti_cacheddtm:TX|23 Aug 2014 09:14:02 -0000
vti_filesize:IR|2939
vti_cachedlinkinfo:VX|S|loading.gif S|video.png S|bullet.png S|loading.gif
vti_cachedsvcrellinks:VX|FSUS|themes/1/loading.gif NSUS|themes/1/video.png FSUS|themes/1/bullet.png FSUS|themes/1/loading.gif
