vti_encoding:SR|utf8-nl
vti_author:SR|yazdan-PC\\yazdan
vti_modifiedby:SR|bioinfserver-PC\\bioinfserver
vti_timelastmodified:TR|20 May 2014 06:02:56 -0000
vti_timecreated:TR|20 May 2014 06:02:54 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|GSM-Model.html contact.html GSMM-Recons.html Yeast.html Human.html CB-Sof.html KM-Sof.html KM-Def.html Objective.html CB-Def.html Hyb-Def.html Hyb-Int.html Topological-Def.html index.html Topological-Sof.html
vti_cacheddtm:TX|20 May 2014 06:02:56 -0000
vti_filesize:IR|2831
vti_cachedlinkinfo:VX|S|../images/templatemo_menu_hover.png S|../images/templatemo_smm.png S|../images/templatemo_smt.png S|../images/templatemo_smb.png
vti_cachedsvcrellinks:VX|FSUS|images/templatemo_menu_hover.png FSUS|images/templatemo_smm.png FSUS|images/templatemo_smt.png FSUS|images/templatemo_smb.png
